venv/
.venv/
__pycache__/
*.pyc
.env
.DS_Store
.vscode/
recordings/
reports/
database/
settings.jsonvenv/
.venv/
__pycache__/
*.pyc
.env
.DS_Store
.vscode/

recordings/
reports/
database/
settings.json